.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  max-width: 250px;
  margin: 30px auto;
  border-radius: 20px;
  background-color: white;
}

form {
  display: flex;
  justify-content: center;
  background-color: #61dafb;
  align-content: center;
  text-align: center;
}

button {
  height: 20px;
  margin: 10px;
}

.red {
  border: solid 2px red !important;
}

.yellow {
  border: solid 2px orange !important;
}

.green {
  border: solid 2px green !important;
}

.darkgreen {
  border: solid 2px darkgreen !important;
}

main {
  background-color: black;
}

.fruit {
  background-color: yellow;
  margin-right: 50px;
  margin-top: 200px;
  margin-bottom: 150px;
  width: 30%;
  border-radius: 40px;
}

.userInput {
  background-color: yellow;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 40px;
  padding: 40px;
}

.userData {
  margin: 20px;
}



#firstName {
  margin-left: 90px;
}

#lastName {
  margin-left: 78px;
}

#age {
  margin-left: 48px;
}

.radio {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.submit {
  background-color: lightseagreen;
  color: black;
  font-weight: bold;
  margin: auto;
}

a {
  color: green;
  text-decoration: none;
}